{
  // vanilla finishers
  "dashslash" : "/items/active/weapons/fist/combofinishers/dashslash.combofinisher",
  "powerpunch" : "/items/active/weapons/fist/combofinishers/powerpunch.combofinisher",
  "snaproot" : "/items/active/weapons/fist/combofinishers/snaproot.combofinisher",
  "supernovarush" : "/items/active/weapons/fist/combofinishers/supernovarush.combofinisher",
  "thunderpunch" : "/items/active/weapons/fist/combofinishers/thunderpunch.combofinisher",
  "uppercut" : "/items/active/weapons/fist/combofinishers/uppercut.combofinisher"
}
